<form action="/answer" data-turbo="false">
  <div class="d-flex">
    <input type="text" class="form-control" name="question" placeholder="Ask a question!">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
